<ul class="top-right-btns">
  <li class="top-right-btns__item">
    {{fa-icon "question"}}
  </li>
  <li class="top-right-btns__item">
    {{fa-icon "cogs"}}
  </li>
  <li class="top-right-btns__item">
    {{fa-icon "minus"}}
  </li>
  <li class="top-right-btns__item">
    {{fa-icon "times"}}
  </li>
</ul>
{{outlet}}
